{% extends 'base.html.twig' %}
{% block stylesheets %}

	<!-- Bootstrap -->
	<link rel="stylesheet" href="/assets/flat/css/bootstrap.min.css">
	<!-- jQuery UI -->
	<link rel="stylesheet" href="/assets/flat/css/plugins/jquery-ui/jquery-ui.min.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="/assets/flat/css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="/assets/flat/css/themes.css">
<style>
            .jumbotron {
    position: relative;
    background: #000 url("/assets/flat/img/softdev.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color:white;
    /*opacity: .7;*/
}
        </style>


{% endblock %}
{% block body %}
    <div id='server'></div> <div id="modal-window" class="modal fade">
        <div class="modal-dialog">
            <div  class="modal-content">
                <div id="modal-contenido">
                </div>
                <div class="modal-header">

                </div>
            </div>
        </div>
    </div>
<div id="navigation">
    <div class="container-fluid">
            <a href="/" id="brand">Cibercomm</a>
            <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
                <i class="fa fa-bars"></i>
            </a>
            
      
            
            
            <ul class='main-nav'>
                            </ul>
            <div class="user">
                <ul class="icon-nav">
                                				
		





<div class="dropdown ">




<li class='dropdown language-select'>
	<a href="#" class='dropdown-toggle' data-toggle="dropdown">
		<img src="/assets/flat/img/demo/flags/mx.gif" alt="">
		<span>MX</span>
	</a>
	<ul class="dropdown-menu pull-right">
		<li>
			<a href="#">
				<img src="/assets/flat/img/demo/flags/us.gif" alt="">
				<span>US</span>
			</a>
		</li>
		
	</ul>
</li>
</ul>

<div class="dropdown">

<a href="/login" classe='dropdown-toggle' >Log IN <img src="/assets/flat/img/noavatar.png" height=26 alt="">				</a>
						 
					
					<ul class="dropdown-menu pull-right">
						<li>
<li>
			<a href="/perfil">Mi Perfil</a>
		</li><li style='border-top:1px solid gray;'>
		</li><li>
			<a href="/lock">Bloquear Pantalla</a>
		</li><li>
			<a href="/logout">Salir</a>
		</li>
						
						
					</ul>
				</div>




	
				</ul>		
			</div>
		</div>
	</div>





		<div class="container-fluid nav-hidden" id="content">
            <div id="left">
			<!--<form action="search-results.html" method="GET" class='search-form'>
				<div class="search-pane">
					<input type="text" name="search" placeholder="Search here...">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form>
			-->
                    
                    <div class="blog-widget">
			<h4 class='blog-widget-title'>Equipo POS</h4>



			<!-- <ul class="blog-widget-recent-posts"> -->
				<div class="subnav-content">
					<ul class="bestseller">


	<li >
					<a href="/producto/hombre/shorts/466/camuflaje">
					<img src="http://www.xibergy.com/images/DTL-GD4330-BK.jpg" alt="">
						<div class="details">
							<div class="name">
								Monitor Touch
								
							</div>
							<div class="price">
								MX $ 300.00
							</div>
						</div>
					</a>
					
				<!-- /.product -->
			</li>
			<li >
					<a href="/store/catalogo/producto/hombre/carteras/469/dockers">
						<img src="http://www.xibergy.com/images/DTL-GD4330-BK.jpg" alt="">
						<div class="details">
							<div class="name">
								Codigo de Barras
								
							</div>
							<div class="price">
								MX $ 250.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>
			<li >
					<a href="/producto/hombre/pantalon/113/gris">
						<img src="https://www.vendhq.com/images/hardware/Dymo_450_Turbo.jpg" alt="">
						<div class="details">
							<div class="name">
								Impresora Eti...
								
							</div>
							<div class="price">
								MX $ 450.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>
			<li >
					<a href="/producto/mujer/tenis/468/guinda">
						<img src="http://www.internationalpointofsale.com/images/bigger_images/NCR-Silver-bigger.jpg" alt="">
						<div class="details">
							<div class="name">
								POS Completo
								
							</div>
							<div class="price">
								MX $ 550.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>
			<li >
					<a href="/producto/hombre/pantalon/113/gris">
						<img src="https://www.vendhq.com/images/hardware/Dymo_450_Turbo.jpg" alt="">
						<div class="details">
							<div class="name">
								Impresora Eti...
								
							</div>
							<div class="price">
								MX $ 450.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>
			<li >
					<a href="/producto/mujer/tenis/468/guinda">
						<img src="http://www.internationalpointofsale.com/images/bigger_images/NCR-Silver-bigger.jpg" alt="">
						<div class="details">
							<div class="name">
								POS Completo
								
							</div>
							<div class="price">
								MX $ 550.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>
			<li >
					<a href="/producto/hombre/pantalon/113/gris">
						<img src="https://www.vendhq.com/images/hardware/Dymo_450_Turbo.jpg" alt="">
						<div class="details">
							<div class="name">
								Impresora Eti...
								
							</div>
							<div class="price">
								MX $ 450.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>
			<li >
					<a href="/producto/mujer/tenis/468/guinda">
						<img src="http://www.internationalpointofsale.com/images/bigger_images/NCR-Silver-bigger.jpg" alt="">
						<div class="details">
							<div class="name">
								POS Completo
								
							</div>
							<div class="price">
								MX $ 550.00
							</div>
						</div>
					</a>
				
				<!-- /.product -->
			</li>                        
                        
                        
						
						
					</ul>
				</div>
			</div>



		
		</div>
		<div id="main">
			<div class="container-fluid">
<!--				<div class="page-header">
					<div class="pull-left">
						<h1>MarketPro</h1>
					</div>
					<div class="pull-right">
						<ul class="minitiles">
							<li class='grey'>
								<a href="#">
									<i class="fa fa-cogs"></i>
								</a>
							</li>
							<li class='lightgrey'>
								<a href="#">
									<i class="fa fa-globe"></i>
								</a>
							</li>
						</ul>
						<ul class="stats">
							<li class='satgreen'>
								<i class="fa fa-money"></i>
								<div class="details">
									<span class="big">$324,12</span>
									<span>Balance</span>
								</div>
							</li>
							<li class='lightred'>
								<i class="fa fa-calendar"></i>
								<div class="details">
									<span class="big">February 22, 2013</span>
									<span>Wednesday, 13:56</span>
								</div>
							</li>
						</ul>
					</div>
				</div>-->
<!--				<div class="breadcrumbs">
					<ul>
						<li>
							<a href="more-login.html">Home</a>
							<i class="fa fa-angle-right"></i>
						</li>
						
					</ul>
					<div class="close-bread">
						<a href="#">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>-->
                                             
				<div class="row">
					<div class="col-sm-12">
                                            <br>
  <div class="jumbotron">
    <h1>MarketPRO</h1> 
    <p>Software estadistico   .</p> 
  </div>
  <!--<p>Permitanos ayudarle a crecer</p>--> 
        
                                            
                                            
						<div class="box">
							<div class="box-title">
								<h3>
						
￼
			<i class="fa fa-bars"></i>
									Planes de Servicio
								</h3>
							</div>
							<div class="box-content">
								<div class="row">
									<div class="pricing-tables">
										<ul class="pricing col-sm-3">
											<li class="head">
												<div class="name">Gratis</div>
												<div class="price">
													$0
													<span>per month</span>
												</div>
											</li>
											<li>1 User</li>
											<li>1 Store</li>
											<li>Unlimited Traffic</li>
											<li>Estadisticas</li>
											<li>Reportes</li>
											<li>
												<i class="fa fa-check"></i>Free setup</li>
											<li>
												<i class="fa fa-check"></i>30 Day free trial</li>
											<li class="button">
												<a href="#" class="btn btn-grey-4">Sign up</a>
												<div class="help-text">Free for 30days</div>
											</li>
										</ul>
										<ul class="pricing green col-sm-3">
											<li class="head">
												<div class="name">Mediano</div>
												<div class="price">
													$300
													<span>per month</span>
												</div>
											</li>
											<li>5 User</li>
											<li>1 Store</li>
											<li>Unlimited Traffic</li>
											<li>Estadisticas</li>
											<li>Reportes</li>
											<li>
												<i class="fa fa-check"></i>Free setup</li>
											<li>
												<i class="fa fa-check"></i>30 Day free trial</li>
											<li class="button">
												<a href="#" class="btn btn-green">Sign up</a>
											</li>
										</ul>
										<ul class="pricing blue highlighted col-sm-3">
											<li class="head">
												<div class="name">Profesional</div>
												<div class="price">
													$600
													<span>per month</span>
												</div>
												<div class="info">Most popular plan</div>
											</li>
											<li>30 User</li>
											<li>3 Stores</li>
											<li>Unlimited Traffic</li>
											<li>Estadisticas</li>
											<li>Reportes</li>
											<li>
												<i class="fa fa-check"></i>Free setup</li>
											<li>
												<i class="fa fa-check"></i>30 Day free trial</li>
											<li class="button">
												<a href="#" class="btn btn-blue">Sign up</a>
												<div class="help-text">Best value</div>
											</li>
										</ul>
										<ul class="pricing red col-sm-3">
											<li class="head">
												<div class="name">Power pack</div>
												<div class="price">
													$990
													<span>per month</span>
												</div>
											</li>
											<li>Multi User</li>
											<li>10  Store</li>
											<li>Unlimited Traffic</li>
											<li>Estadisticas</li>
											<li>Todos los Modulos</li>
											<li>
												<i class="fa fa-check"></i>Free setup</li>
											<li>
												<i class="fa fa-check"></i>30 Day free trial</li>
											<li class="button">
												<a href="#" class="btn btn-red">Sign up</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}




{% block javascripts %}
<!-- jQuery -->
	<script src="/assets/flat/js/jquery.min.js"></script>

	<!-- Nice Scroll -->
	<script src="/assets/flat/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- imagesLoaded -->
	<script src="/assets/flat/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- jQuery UI -->
	<script src="/assets/flat/js/plugins/jquery-ui/jquery-ui.js"></script>
	<!-- slimScroll -->
	<script src="/assets/flat/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/flat/js/bootstrap.min.js"></script>
	<!-- Bootbox -->
	<script src="/assets/flat/js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Bootbox -->
	<script src="/assets/flat/js/plugins/form/jquery.form.min.js"></script>
	<!-- Validation -->
	<script src="/assets/flat/js/plugins/validation/jquery.validate.min.js"></script>
	<script src="/assets/flat/js/plugins/validation/additional-methods.min.js"></script>

	<!-- Theme framework -->
	<script src="/assets/flat/js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="/assets/flat/js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="/assets/flat/js/demonstration.min.js"></script>

	<!--[if lte IE 9]>
		<script src="/assets/flat/js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->
{% endblock %}
